<%= render 'layouts/menu' %>
        <div class="wrapper">
            <!-- Hero section-->
            <section class="split-image parallax" data-background="<%= image_path('portfolio/tuttores-1.png')%>">
                <%= render 'layouts/download_pdf' %>
            </section>
            <!-- Hero section end-->
            <!-- Content section-->
            <section class="split-content">
                <!-- Page content-->
                <section class="module">
                    <div class="container-fluid container-custom">
                        <div class="row">
                            <div class="col-sm-12">
                                <article class="post">
                                    <div class="post-header">
                                        <h1 class="post-title">CTO y Co-Fundador – Tuttores.com</h1>
                                        <ul class="post-meta">
                                            <li><span>Julio 2012 - Marzo 2013</span></li>
                                            <!-- <li><a href="#">Profesor</a> <a href="#">Mentor</a></li> -->
                                        </ul>
                                    </div>
                                    <div class="post-content">
                                        <p><a href="<%= image_path('portfolio/tuttores-1.png')%>" rel="gallery"><img src="<%= image_path('portfolio/tuttores-1.png')%>" alt=""></a></p>
                                        <p><a href="<%= image_path('portfolio/tuttores-2.png')%>" rel="gallery"><img src="<%= image_path('portfolio/tuttores-2.png')%>" alt=""></a></p>
                                        <p><a href="<%= image_path('portfolio/tuttores-3.png')%>" rel="gallery"><img src="<%= image_path('portfolio/tuttores-3.png')%>" alt=""></a></p>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <!-- Portfolio detail-->
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="list-unstyled">
                                    <li>Cliente: Tuttores</li>
                                    <li>Fecha: Julio 2012 - Marzo 2013</li>
                                    <li>Tipo: CTO y Co-Fundador</li>
                                    <!--<li>Site: <a href="http://www.floresymas.com">www.floresymas.com</a></li>-->
                                </ul>
                            </div>
                            <div class="col-sm-8">
                                <p class="lead">
                                  Primer Emprendimiento Digital
                                </p>
                                <p>
                                  Apoyado por la aceleradora de startups de Sillicon Valley llamada <a href="https://fi.co/" target="_blank">Founder Institute</a>,
                                  y siendo la idea más destacada
                                  en la primera promoción de esta aceleradora en Medellin, fue mi primer
                                  emprendimiento digital y mi primer fracaso digital. Se trataba de una
                                  plataforma para conectar estudiantes americanos con profesores latinos que
                                  necesitaran ayuda con Matemáticas, Física y Química. Actualmente me
                                  encuentro en planes de volver a lanzarla.
                                </p>
                            </div>
                        </div>
                        <!-- Portfolio detail end-->
                    </div>
                </section>

                <hr>
                <div class="btn-list m-b-35">
                  <%= link_to "<< #{t(:portfolio)}", portfolio_path, class: "btn btn-sm btn-brand"  %>
                </div>

                <!-- Page content end-->
                <%= render 'layouts/footer' %>
            </section>
            <!-- Content section end-->
        </div>
