<%= render 'layouts/menu' %>
<div class="wrapper">
    <!-- Hero section-->
    <section class="split-image parallax" data-background="<%= image_path('module-12.png')%>">
        <%= render 'layouts/download_pdf' %>
    </section>
    <!-- Hero section end-->
    <!-- Content section-->
    <section class="split-content">
        <!-- Hello text-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Hello, i´m Daniel Morales<br>CTO - Fullstack Developer - Entrepreneur.</h1>
                        <p>
                          I have 4 and a half years as a fullstack developer in my own endeavors (in one
                          of them we received $350,000 USD in Venture Capital), handling different frontend and backend
                          technologies. I´m an passionate Ruby on Rails developer.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hello text end-->
        <!-- Personal info-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Personal Info.</h6>
                    </div>
                    <div class="col-sm-8">
                        <ul>
                            <li>Name: Daniel Morales</li>
                            <li>Address: Calle 41 a Sur # 43 A - 114, Envigado - Antioquia</li>
                            <li>Phone: 318-5200341</li>
                            <li>E-mail: <a href="#">danielmorales1202@gmail.com</a></li>
                            <li>Website: <a href="http://danielmorales.co">danielmorales.co</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Personal info end-->
        <!-- Services-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Services.</h6>
                    </div>
                    <div class="col-sm-8">
                        <p>
                          The target of my services is to add value to the company,
                          achieve specific goals and contribute all my knowledge to a great
                          work team
                        </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="service-list">
                                    <li>Fullstack Developer in new technologies</li>
                                    <li>Backend developer in Ruby on Rails</li>
                                    <li>Frontend developer in Javacript (node.js)</li>
                                    <li>User experience (UX - UI)</li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="service-list">
                                    <li>Growth Hacking</li>
                                    <li>Build Apps</li>
                                    <li>Responsive Design</li>
                                    <li>Innovation</li>
                                    <li>New Business Models</li>
                                    <li>Agile Development</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services end-->
        <!-- Professional skills-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Developer Skills.</h6>
                    </div>
                    <div class="col-sm-8">
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Ruby, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Ruby on Rails, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Javascript, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Node.js, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">React.js, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="35" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Angular.js, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="35" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                    </div>
                </div>
              </div>
            </section>
            <section class="module">
                <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Entrepreneur Skills.</h6>
                    </div>
                    <div class="col-sm-8">
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Growth Hacking, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">SEO - SEM, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Innovation, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Business Models, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                    </div>
                </div>
            </div>
        </section>
        <!-- Professional skills end-->
        <!-- Others-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Others.</h6>
                    </div>
                    <div class="col-sm-8">
                        <p>
                          I like to research and make other contributions to the community of
                          Developers.
                        </p>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="service-list">
                                    <li><a href="http://guiasrails.co" target="_blank">Rails Guides in Spanish</a></li>
                                    <li><a href="https://medium.com/@danielmorales" target="_blank">Personal Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Others end-->
        <!-- Counters-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>My Experience.</h6>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <!-- Counter-->
                            <div class="col-xs-6">
                                <div class="counter">
                                    <h2 class="counter-number"><span class="counter-timer" data-from="0" data-to="350000">0</span></h2>
                                    <div class="counter-title">USD in Venture Capital Invest.</div>
                                </div>
                            </div>
                            <!-- Counter end-->
                            <!-- Counter-->
                            <div class="col-xs-6">
                                <div class="counter">
                                    <h2 class="counter-number"><span class="counter-timer" data-from="0" data-to="2000">0</span></h2>
                                    <div class="counter-title">+$2.000M COP in Sales</div>
                                </div>
                            </div>
                            <!-- Counter end-->
                            <!-- Counter-->
                            <div class="col-xs-6">
                                <div class="counter">
                                    <h2 class="counter-number"><span class="counter-timer" data-from="0" data-to="40000">0</span></h2>
                                    <div class="counter-title">Users</div>
                                </div>
                            </div>
                            <!-- Counter end-->
                            <!-- Counter-->
                            <div class="col-xs-6">
                                <div class="counter">
                                    <h2 class="counter-number"><span class="counter-timer" data-from="0" data-to="18">0</span></h2>
                                    <div class="counter-title">Software Versions</div>
                                </div>
                            </div>
                            <!-- Counter end-->
                            <!-- Counter-->
                            <div class="col-xs-6">
                                <div class="counter">
                                    <h2 class="counter-number"><span class="counter-timer" data-from="0" data-to="3">0</span></h2>
                                    <div class="counter-title">Launch Startups</div>
                                </div>
                            </div>
                            <!-- Counter end-->
                            <!-- Counter-->
                            <div class="col-xs-6">
                                <div class="counter">
                                    <h2 class="counter-number"><span class="counter-timer" data-from="0" data-to="20">0</span></h2>
                                    <div class="counter-title">Jobs Generated</div>
                                </div>
                            </div>
                            <!-- Counter end-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Counters end-->
        <hr>
        <div class="btn-list m-b-35">
          <%= link_to "#{t(:experience)} >>", resume_path, class: "btn btn-sm btn-brand pull-right"  %>
        </div>
        <br>

        <!-- Counters end-->
        <%= render 'layouts/footer' %>
    </section>
    <!-- Content section end-->
</div>
