  <%= render 'layouts/menu' %>
  <div class="wrapper">
      <!-- Hero section-->
      <section class="split-image parallax" data-background="<%= image_path('module-12.png')%>">
          <%= render 'layouts/download_pdf' %>
      </section>
      <!-- Hero section end-->
      <!-- Content section-->
      <section class="split-content">
          <!-- Hello text-->
          <section class="module">
              <div class="container-fluid container-custom">
                  <div class="row">
                      <div class="col-sm-12">
                          <h1>Hola, soy Daniel Morales<br>CTO - Desarrollador Fullstack - Emprendedor.</h1>
                          <p>Tengo 4 años y medio como desarrollador fullstack en emprendimientos propios (en uno
                            de ellos recibimos $350.000 USD de inversión), manejando diferentes tecnologías
                            frontend y backend. Apasionado desarrollador de Ruby on Rails. </p>
                      </div>
                  </div>
              </div>
          </section>
          <!-- Hello text end-->
          <!-- Personal info-->
          <section class="module">
              <div class="container-fluid container-custom">
                  <div class="row">
                      <div class="col-sm-4">
                          <h6>Información Personal.</h6>
                      </div>
                      <div class="col-sm-8">
                          <ul>
                              <li>Nombre: Daniel Morales</li>
                              <li>Dirección: Calle 41 a Sur # 43 A - 114, Envigado - Antioquia</li>
                              <li>Teléfono: 318-5200341</li>
                              <li>E-mail: <a href="#">danielmorales1202@gmail.com</a></li>
                              <li>Website: <a href="http://danielmorales.co">danielmorales.co</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </section>
          <!-- Personal info end-->
          <!-- Services-->
          <section class="module">
              <div class="container-fluid container-custom">
                  <div class="row">
                      <div class="col-sm-4">
                          <h6>Servicios.</h6>
                      </div>
                      <div class="col-sm-8">
                          <p>El objetivo de mis servicios es agregar valor a la compañia,
                            lograr metas puntuales y aportar todo mi conocimiento a un gran
                            equipo de trabajo. </p>
                          <div class="row">
                              <div class="col-sm-6">
                                  <ul class="service-list">
                                      <li>Desarrollador Fullstack en nuevas tecnologías</li>
                                      <li>Desarrollo backend con Ruby on Rails</li>
                                      <li>Desarrollo frontend con Javacript (node.js)</li>
                                      <li>Diseño de usabilidad (UX - UI)</li>
                                  </ul>
                              </div>
                              <div class="col-sm-6">
                                  <ul class="service-list">
                                      <li>Growth Hacking</li>
                                      <li>Construcción de Apps</li>
                                      <li>Diseño Responsive</li>
                                      <li>Innovación</li>
                                      <li>Nuevos modelos de negocio</li>
                                      <li>Desarrollo Ágil</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- Services end-->
          <!-- Professional skills-->
          <section class="module">
              <div class="container-fluid container-custom">
                  <div class="row">
                      <div class="col-sm-4">
                          <h6>Habilidades de Desarrollo.</h6>
                      </div>
                      <div class="col-sm-8">
                          <!-- Progress bar-->
                          <div class="progress-item">
                              <div class="progress-title">Ruby, <span class="p-coutn"></span>%</div>
                              <div class="progress">
                                  <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          <!-- Progress bar end-->
                          <!-- Progress bar-->
                          <div class="progress-item">
                              <div class="progress-title">Ruby on Rails, <span class="p-coutn"></span>%</div>
                              <div class="progress">
                                  <div class="progress-bar" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          <!-- Progress bar end-->
                          <!-- Progress bar-->
                          <div class="progress-item">
                              <div class="progress-title">Javascript, <span class="p-coutn"></span>%</div>
                              <div class="progress">
                                  <div class="progress-bar" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          <!-- Progress bar end-->
                          <!-- Progress bar-->
                          <div class="progress-item">
                              <div class="progress-title">Node.js, <span class="p-coutn"></span>%</div>
                              <div class="progress">
                                  <div class="progress-bar" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          <!-- Progress bar end-->
                          <!-- Progress bar-->
                          <div class="progress-item">
                              <div class="progress-title">React.js, <span class="p-coutn"></span>%</div>
                              <div class="progress">
                                  <div class="progress-bar" aria-valuenow="35" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          <!-- Progress bar end-->
                          <!-- Progress bar-->
                          <div class="progress-item">
                              <div class="progress-title">Angular.js, <span class="p-coutn"></span>%</div>
                              <div class="progress">
                                  <div class="progress-bar" aria-valuenow="35" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          <!-- Progress bar end-->
                      </div>
                  </div>
                </div>
              </section>
              <section class="module">
                  <div class="container-fluid container-custom">
                  <div class="row">
                      <div class="col-sm-4">
                          <h6>Habilidades de Emprendimiento.</h6>
                      </div>
                      <div class="col-sm-8">
                          <!-- Progress bar-->
                          <div class="progress-item">
                              <div class="progress-title">Growth Hacking, <span class="p-coutn"></span>%</div>
                              <div class="progress">
                                  <div class="progress-bar" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          <!-- Progress bar end-->
                          <!-- Progress bar-->
                          <div class="progress-item">
                              <div class="progress-title">SEO - SEM, <span class="p-coutn"></span>%</div>
                              <div class="progress">
                                  <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          <!-- Progress bar end-->
                          <!-- Progress bar-->
                          <div class="progress-item">
                              <div class="progress-title">Innovación, <span class="p-coutn"></span>%</div>
                              <div class="progress">
                                  <div class="progress-bar" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          <!-- Progress bar end-->
                          <!-- Progress bar-->
                          <div class="progress-item">
                              <div class="progress-title">Modelos de Negocio, <span class="p-coutn"></span>%</div>
                              <div class="progress">
                                  <div class="progress-bar" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          <!-- Progress bar end-->
                      </div>
                  </div>
              </div>
          </section>
          <!-- Professional skills end-->
          <!-- Others-->
          <section class="module">
              <div class="container-fluid container-custom">
                  <div class="row">
                      <div class="col-sm-4">
                          <h6>Otros.</h6>
                      </div>
                      <div class="col-sm-8">
                          <p>Me gusta investigar y hacer otros aportes a la comunidad de
                            desarrolladores. </p>
                          <div class="row">
                              <div class="col-sm-12">
                                  <ul class="service-list">
                                      <li><a href="http://guiasrails.co" target="_blank">Guias de Rails en Español</a></li>
                                      <li><a href="https://medium.com/@danielmorales" target="_blank">Blog Personal</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- Others end-->
          <!-- Counters-->
          <section class="module">
              <div class="container-fluid container-custom">
                  <div class="row">
                      <div class="col-sm-4">
                          <h6>Mi Experiencia.</h6>
                      </div>
                      <div class="col-sm-8">
                          <div class="row">
                              <!-- Counter-->
                              <div class="col-xs-6">
                                  <div class="counter">
                                      <h2 class="counter-number"><span class="counter-timer" data-from="0" data-to="350000">0</span></h2>
                                      <div class="counter-title">USD de inversión</div>
                                  </div>
                              </div>
                              <!-- Counter end-->
                              <!-- Counter-->
                              <div class="col-xs-6">
                                  <div class="counter">
                                      <h2 class="counter-number"><span class="counter-timer" data-from="0" data-to="2000">0</span></h2>
                                      <div class="counter-title">+$2.000M en ventas</div>
                                  </div>
                              </div>
                              <!-- Counter end-->
                              <!-- Counter-->
                              <div class="col-xs-6">
                                  <div class="counter">
                                      <h2 class="counter-number"><span class="counter-timer" data-from="0" data-to="40000">0</span></h2>
                                      <div class="counter-title">Usuarios</div>
                                  </div>
                              </div>
                              <!-- Counter end-->
                              <!-- Counter-->
                              <div class="col-xs-6">
                                  <div class="counter">
                                      <h2 class="counter-number"><span class="counter-timer" data-from="0" data-to="18">0</span></h2>
                                      <div class="counter-title">Versiones diferentes</div>
                                  </div>
                              </div>
                              <!-- Counter end-->
                              <!-- Counter-->
                              <div class="col-xs-6">
                                  <div class="counter">
                                      <h2 class="counter-number"><span class="counter-timer" data-from="0" data-to="3">0</span></h2>
                                      <div class="counter-title">Startups lanzadas</div>
                                  </div>
                              </div>
                              <!-- Counter end-->
                              <!-- Counter-->
                              <div class="col-xs-6">
                                  <div class="counter">
                                      <h2 class="counter-number"><span class="counter-timer" data-from="0" data-to="20">0</span></h2>
                                      <div class="counter-title">Puestos de trabajo</div>
                                  </div>
                              </div>
                              <!-- Counter end-->
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- Counters end-->
          <hr>
          <div class="btn-list m-b-35">
            <%= link_to "#{t(:experience)} >>", resume_path, class: "btn btn-sm btn-brand pull-right"  %>
          </div>
          <br>

          <!-- Counters end-->
          <%= render 'layouts/footer' %>
      </section>
      <!-- Content section end-->
  </div>
