<%= render 'layouts/menu' %>
        <div class="wrapper">
          <!-- Hero section-->
          <section class="split-image parallax" data-background="<%= image_path('module-11.jpg')%>">
              <%= render 'layouts/download_pdf' %>
          </section>
          <!-- Hero section end-->
            <!-- Content section-->
            <section class="split-content">
                <!-- Page title-->
                <section class="module">
                    <div class="container-fluid container-custom">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1>Experience & Education.</h1>
                                <p>
                                  Build is my passion and my profession. My experience revolves in around
                                  building great products, companies and relationships. I am an appasionate
                                  software developer and business man.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Page title end-->
                <!-- Work Experience-->
                <section class="module">
                    <div class="container-fluid container-custom">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6>Experience.</h6>
                            </div>
                            <div class="col-sm-8">
                                <ul class="resume-info">
                                    <li>
                                        <h6 class="resume-title">Mentor and Teacher in Ruby on Rails - MakeitReal.camp</h6>
                                        <h6 class="resume-meta">2017 - Currently</h6>
                                        <p>
                                          Ruby on Rails physical bootcamp teacher developed by
                                          <a href="https://makeitreal.camp/" target="_blank"> MakeitReal </a>
                                          in the city of Medellín. It has a duration of 10
                                          intensive weeks, for a total of 180 hours approx. Is performed currently
                                          3 times a year.
                                        </p>
                                    </li>
                                    <li>
                                        <h6 class="resume-title">CTO & Co-Founder - HelpCode.co</h6>
                                        <h6 class="resume-meta">2017 - Currently</h6>
                                        <p>
                                          New startup developed with the support of <a href="https://apps.co/" target="_blank"> Apps.co </a> and the
                                          mentorings of <a href="http://socialatomventures.com/" target="_blank"> SocialAtom </a>. I´m the product
                                          developer and CTO. This startup is focused on providing mentoring by Senior developers to Junior Developers.
                                          It also provides support for removing bugs of code.
                                        </p>
                                    </li>
                                    <li>
                                        <h6 class="resume-title">CTO & Founder – FloresyMas.com (Bogotá)</h6>
                                        <h6 class="resume-meta">April 2013 - October 2016</h6>
                                        <p>
                                          I founded a startup call <a href="http://www.floresymas.com/" target="_blank"> FloresyMas.com </a>, which has received so far
                                          more than $350,000 USD of investment by the Venture Capital Fund <a href="https://www.velumventures.com/" target="_blank"> Velum Ventures </a>.
                                          I`m currently a partner, maintaining a important shareholder and being a member of the Board of Directors. The company currently
                                          has annual sales of 1.000 million COP ($360.000 USD), and has a presence in Bogotá, Medellín, Cali and Bucaramanga. Here are some press mentions
                                          at <a href="http://www.thetime.com/archive/document/CMS-15864275" target="_blank"> El Tiempo </a>, <a href = "http://pulsosocial.com/2014/07/30/velum-el-esperado-fondo-vc-de-medellin-anuncia-sus-tres-primeras-inversiones/ "Target =" _ blank ">
                                          Pulso Social</a> and <a href = "https://thenextweb.com/insider/2014/09/01/august-latin-america-tech-news-shouldnt-miss-past-month/#.tnw_WeCpEfRa" >
                                          The Nex Web </a> about <a href="http://www.floresymas.com/" target="_blank"> FloresyMas.com </a>
                                        </p>
                                    </li>
                                    <li>
                                        <h6 class="resume-title">CTO & Co-Founder – Tuttores.com</h6>
                                        <h6 class="resume-meta">July 2012 - March 2013</h6>
                                        <p>
                                          Supported by the Sillicon Valley Startup Accelerator call <a href="https://fi.co/" target="_blank"> Founder Institute </a>,
                                          and being the most outstanding idea in the first batch of this accelerator in Medellin, was my first startup and my
                                          first failure. It was about one platform to connect American students with Latin teachers who they will need help with
                                          Mathematics, Physics and Chemistry. I'm currently i find in plans to re-launch it.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Work Experience end-->
                <!-- Education-->
                <section class="module">
                    <div class="container-fluid container-custom">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6>Education.</h6>
                            </div>
                            <div class="col-sm-8">
                                <ul class="resume-info">
                                    <li>
                                        <h6 class="resume-title">EAFIT - Economist</h6>
                                        <h6 class="resume-meta">2009 - 2010 (4 Semesters)</h6>
                                        <p>
                                          I completed 4 academic semesters in EAFIT of the pre-degree in Economics.
                                          Did´nt finish my studies due to the lack of affinity with the career.
                                        </p>
                                    </li>
                                    <li>
                                        <h6 class="resume-title">University of San Martin - Business Administration</h6>
                                        <h6 class="resume-meta">2005 - 2008</h6>
                                        <p>
                                          Graduated in Business Administration from the University of San Martin headquarters
                                          Sabaneta.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Education end-->
                <!-- Language Skills-->
                <section class="module">
                    <div class="container-fluid container-custom">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6>Language Skills.</h6>
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="pie-chart">
                                            <div class="chart" data-percent="45">
                                                <div class="chart-text">45</div>
                                            </div>
                                            <div class="chart-title">
                                                <h6>English</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="pie-chart">
                                            <div class="chart" data-percent="30">
                                                <div class="chart-text">20</div>
                                            </div>
                                            <div class="chart-title">
                                                <h6>French</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <hr>
                <div class="btn-list m-b-35">
                  <%= link_to "<< #{t(:profile)}", root_path, class: "btn btn-sm btn-brand"  %>
                  <%= link_to "#{t(:portfolio)} >>", portfolio_path, class: "btn btn-sm btn-brand pull-right"  %>
                </div>

                <!-- Language Skills end-->
                <%= render 'layouts/footer' %>
            </section>
            <!-- Content section end-->
        </div>
