<%= render 'layouts/menu' %>
        <div class="wrapper">
          <!-- Hero section-->
          <section class="split-image parallax" data-background="<%= image_path('module-11.jpg')%>">
              <%= render 'layouts/download_pdf' %>
          </section>
          <!-- Hero section end-->
            <!-- Content section-->
            <section class="split-content">
                <!-- Page title-->
                <section class="module">
                    <div class="container-fluid container-custom">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1>Experiencia & Educación.</h1>
                                <p>Construir es mi pasión y mi profesión. Mi experiencia gira en
                                  torno a construir grandes productos, empresas y lazos. Soy
                                desarrollador de software por pasión y administrador de empresas
                              de profesión. </p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Page title end-->
                <!-- Work Experience-->
                <section class="module">
                    <div class="container-fluid container-custom">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6>Experiencia.</h6>
                            </div>
                            <div class="col-sm-8">
                                <ul class="resume-info">
                                    <li>
                                        <h6 class="resume-title">Profesor de Ruby on Rails - MakeitReal.camp</h6>
                                        <h6 class="resume-meta">2017 - Actualmente</h6>
                                        <p>
                                          Profesor del bootcamp presencial de Ruby on Rails desarrollado por
                                          <a href="https://makeitreal.camp/" target="_blank">MakeitReal</a> en la ciudad de Medellín. Tiene una duración de 10
                                          semanas intensivas, para un total de 180 horas aprox. Se realiza
                                          actualmente 3 veces por año.
                                        </p>
                                    </li>
                                    <li>
                                        <h6 class="resume-title">CTO y Co-Fundador - HelpCode.co</h6>
                                        <h6 class="resume-meta">2017 - Actualmente</h6>
                                        <p>
                                          Nueva startup desarrollado con el apoyo de <a href="https://apps.co/" target="_blank">Apps.co</a> y las
                                          mentorias de <a href="http://socialatomventures.com/" target="_blank">SocialAtom</a> . Soy el desarrollador del producto y CTO. El
                                          emprendimiento esta enfocado en brindar mentorias por parte de programadores
                                          senior a programadores junior. También brinda soporte para eliminar bugs
                                          de código.
                                        </p>
                                    </li>
                                    <li>
                                        <h6 class="resume-title">CTO y Fundador – FloresyMas.com (Bogotá)</h6>
                                        <h6 class="resume-meta">Abril 2013 - Octubre 2016</h6>
                                        <p>
                                          Fundé la startup <a href="http://www.floresymas.com/" target="_blank">FloresyMas.com</a>, la cual ha recibido hasta el momento
                                          más de $350.000 USD de inversión por parte del Fondo de Capital de Riesgo
                                          <a href="https://www.velumventures.com/" target="_blank">Velum Ventures</a> . Actualmente sigo siendo socio, manteniendo una participación
                                          accionaria importante y siendo miembro de Junta Directiva. La empresa actualmente
                                          tiene ventas aproximadas de 1.000 millones COP anuales, y tiene presencia en
                                          Bogotá, Medellín, Cali y Bucaramanga. Aqui hay algunas menciones de prensa en <a href="http://www.eltiempo.com/archivo/documento/CMS-15864275" target="_blank">
                                          El Tiempo</a>, <a href="http://pulsosocial.com/2014/07/30/velum-el-esperado-fondo-vc-de-medellin-anuncia-sus-tres-primeras-inversiones/" target="_blank">
                                            Pulso Social</a> y <a href="https://thenextweb.com/insider/2014/09/01/august-latin-america-tech-news-shouldnt-miss-past-month/#.tnw_WeCpEfRa">
                                              The Nex Web</a> sobre <a href="http://www.floresymas.com/" target="_blank">FloresyMas.com</a>
                                        </p>
                                    </li>
                                    <li>
                                        <h6 class="resume-title">CTO y Co-Fundador – Tuttores.com</h6>
                                        <h6 class="resume-meta">Julio 2012 - Marzo 2013</h6>
                                        <p>
                                          Apoyado por la aceleradora de startups de Sillicon Valley llamada <a href="https://fi.co/" target="_blank">Founder Institute</a>,
                                          y siendo la idea más destacada
                                          en la primera promoción de esta aceleradora en Medellin, fue mi primer
                                          emprendimiento digital y mi primer fracaso digital. Se trataba de una
                                          plataforma para conectar estudiantes americanos con profesores latinos que
                                          necesitaran ayuda con Matemáticas, Física y Química. Actualmente me
                                          encuentro en planes de volver a lanzarla.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Work Experience end-->
                <!-- Education-->
                <section class="module">
                    <div class="container-fluid container-custom">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6>Educación Formal.</h6>
                            </div>
                            <div class="col-sm-8">
                                <ul class="resume-info">
                                    <li>
                                        <h6 class="resume-title">EAFIT - Economía</h6>
                                        <h6 class="resume-meta">2009 - 2010 (4 Semestres)</h6>
                                        <p>
                                          Realicé 4 semestres académicos en EAFIT del pre-grado en Economía.
                                          No concluí los estudios debido a la poca afinidad con la carrera.
                                        </p>
                                    </li>
                                    <li>
                                        <h6 class="resume-title">Universidad San Martin - Administración de Empresas</h6>
                                        <h6 class="resume-meta">2005 - 2008</h6>
                                        <p>
                                          Graduado de Administración de Empresas de la Universidad San Martin sede
                                          Sabaneta.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Education end-->
                <!-- Language Skills-->
                <section class="module">
                    <div class="container-fluid container-custom">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6>Habilidades de Idiomas.</h6>
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="pie-chart">
                                            <div class="chart" data-percent="45">
                                                <div class="chart-text">45</div>
                                            </div>
                                            <div class="chart-title">
                                                <h6>English</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="pie-chart">
                                            <div class="chart" data-percent="30">
                                                <div class="chart-text">20</div>
                                            </div>
                                            <div class="chart-title">
                                                <h6>Francés</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <hr>
                <div class="btn-list m-b-35">
                  <%= link_to "<< #{t(:profile)}", root_path, class: "btn btn-sm btn-brand"  %>
                  <%= link_to "#{(:portfolio)} >>", portfolio_path, class: "btn btn-sm btn-brand pull-right"  %>
                </div>

                <!-- Language Skills end-->
                <%= render 'layouts/footer' %>
            </section>
            <!-- Content section end-->
        </div>
