<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "bootstrap.min" %>
  <%= stylesheet_link_tag    "owl.theme" %>
  <%= stylesheet_link_tag    "owlcarousel" %>
  <%= stylesheet_link_tag    "magnific-popup" %>
  <%= stylesheet_link_tag    "simpletextrotator" %>
  <%= stylesheet_link_tag    "animate" %>
  <%= stylesheet_link_tag    "style" %>

</head>



<body>

<%= yield %>

  <%= javascript_include_tag "jquery-1.11.0.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "jquery.backstretch.min" %>
  <%= javascript_include_tag "owl.carousel.min" %>
  <%= javascript_include_tag "jquery.magnific-popup.min" %>
  <%= javascript_include_tag "jquery.simple-text-rotator.min" %>
  <%= javascript_include_tag "jquery.waypoints" %>
  <%= javascript_include_tag "jquery.countTo" %>
  <%= javascript_include_tag "wow.min" %>
  <%= javascript_include_tag "smoothscroll" %>
  <%= javascript_include_tag "jquery.fitvids" %>
  <%= javascript_include_tag "jqBootstrapValidation" %>
  <%= javascript_include_tag "custom" %>

</body>
</html>
